@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf');
}

@font-face {
    font-family: 'Montserrat Italic';
    src: url('/fonts/MontserratItalic.ttf');
}

:root {
    --page-bg: #ffffff;
    --page-fg: #000000;
    --link-fg: #404040;
    --menu-bg: #f0f0f0;
    --menu-fg: #000000;
    --menu-border: #cccccc;
    --menu-shadow: #cccccc;
    --button-bg: #f0f0f0;
    --button-fg: #000000;
    --button-border: #f0f0f0;
    --button-shadow: #f0f0f0;
    --button-hover-bg: #eeeeee;
    --button-hover-fg: #000000;
    --button-hover-border: #444444;
    --button-hover-shadow: #aaaaaa;
    --button-active-bg: #aaaaaa;
    --button-active-fg: #000000;
    --button-active-border: #000000;
    --button-active-shadow: #444444;
    --menu-button-active-section-bg: #cccccc;
    --menu-button-active-section-fg: #000000;
    --menu-button-active-section-border: #000000;
    --menu-button-active-section-shadow: transparent;
}

:root {
    --padding: 8px 24px;
    --padding-left-right: 24px;
    --padding-top-bottom: 8px;
    --button-padding: 8px 24px;
    --flex-gap: 8px 0px;
    --content-width: 800px;
    --max-image-width: 720px;
    --avatar-image-width: 180px;
    --font: 'Montserrat', system-ui, sans-serif;
    --font-italic: 'Montserrat Italic', system-ui, sans-serif;
    --font-size: 16px;
    --button-text-size: 16px;
    --button-image-size: 24px;
    --border: 1px solid;
    --border-radius: 10px;
    --abbr-border: 2px dotted;
    --shadow: 0px 0px 20px;
    --transition-duration: 0.25s;
    --transition: var(--transition-duration) ease;
    --menu-animation-duration: 0.5s;
}

* {
    transition: var(--transition);
	scroll-behavior: smooth;
    scrollbar-width: var(--scrollbar-width);
	scrollbar-color: var(--page-fg) var(--page-bg);
    outline: none;
}

*::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

*::-webkit-scrollbar-track {
	background: var(--page-bg);
}

*::-webkit-scrollbar-thumb {
	background: var(--page-fg);
}

::selection {
	background: var(--page-fg); color: var(--page-bg);
}

html, body {
    background-color: var(--page-bg); color: var(--page-fg);
}

body {
    margin: 0px auto; padding: 0px 0px;
	font-family: var(--font); font-size: var(--font-size);
    line-height: 2em;
    overflow-y: scroll;
}

body, .menu {
    max-width: var(--content-width);
}

h1, h2, h3, h4, h5, h6, b, .button {
	font-weight: 600;
}

a {
	color: var(--link-fg);
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: var(--page-fg);
}

abbr {
    cursor: help;
}

i {
    font-family: var(--font-italic); font-style: normal;
}

img {
    width: 100%;
    max-width: var(--max-image-width);
}

.center {
	display: flex; flex-direction: column; justify-content: center; align-items: center;
    gap: var(--flex-gap);
}

.text-center {
	text-align: center;
}

.flex-row {
    display: flex; flex-direction: row; align-items: stretch;
    gap: 0px 8px;
}

.hidden {
    opacity: 0;
    max-height: 0px;
    pointer-events: none;
    user-select: none;
}

.section {
    position: absolute;
    padding-bottom: 32px;
}

.content, .section {
    width: 100%; max-width: var(--content-width);
}

.content {
    margin: 96px auto;
}

.content, .details-content {
    height: max-content;
}

.menu, .button, .gallery-image, .avatar-image, .member-card {
    border-radius: var(--border-radius);
}

.menu {
    z-index: 1;
    position: fixed; top: 16px;
    margin: 0px auto; padding: 8px 8px;
    display: flex; justify-content: center; align-items: center;
    gap: 0px 8px;
    background-color: var(--menu-bg); color: var(--menu-fg);
    border: var(--border) var(--menu-border);
    box-shadow: var(--shadow) var(--menu-shadow);
    animation: menu-animation var(--menu-animation-duration) 0s 1 ease forwards;
}

.button, .menu-button {
    cursor: pointer; user-select: none;
    text-decoration: none;
    padding: var(--button-padding);
    display: flex; justify-content: center; align-items: center;
    gap: 0px 8px;
}

.button, .menu-button, .member-card {
    background-color: var(--button-bg); color: var(--button-fg);
    border: var(--border) var(--button-border);
    box-shadow: var(--shadow) var(--button-shadow);
}

.button:hover, .menu-button:hover, .member-card:hover {
    background-color: var(--button-hover-bg); color: var(--button-hover-fg);
    border: var(--border) var(--button-hover-border);
    box-shadow: var(--shadow) var(--button-hover-shadow);
}

.button:active, .menu-button:active {
    background-color: var(--button-active-bg); color: var(--button-active-fg);
    border: var(--border) var(--button-active-border);
    box-shadow: var(--shadow) var(--button-active-shadow);
}

.button {
    font-size: var(--button-text-size);
}

.button img {
    width: var(--button-image-size);
}

.menu-button-active-section, .menu-button-active-section:hover, .menu-button-active-section:focus, .menu-button-active-section:active {
    background-color: var(--menu-button-active-section-bg); color: var(--menu-button-active-section-fg);
    border: var(--border) var(--menu-button-active-section-border);
    box-shadow: var(--shadow) var(--menu-button-active-section-shadow);
}

.avatar-image {
    width: var(--avatar-image-width);
    border: var(--border) var(--image-avatar-border); border-radius: var(--border-radius);
}

.gallery-image, .avatar-image {
    border: var(--border) var(--link-fg);
    box-shadow: var(--shadow) var(--link-fg);
}

.gallery-image:hover, .gallery-image:focus, .avatar-image:hover, .avatar-image:focus,
a:hover .gallery-image, a:focus .gallery-image, a:hover .avatar-image, a:focus .avatar-image {
    border: var(--border) var(--page-fg);
    box-shadow: var(--shadow) var(--page-fg);
}

.inline {
    display: inline;
}

.inversible {
    --inverse: 0%;
    filter: invert(var(--inverse));
}

@keyframes menu-animation {
    from {
        margin-top: -50vh;
    }
    to {
        margin-top: 0vh;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-bg: #0f0f0f;
        --page-fg: #ffffff;
        --link-fg: #cccccc;
        --menu-bg: #222222;
        --menu-fg: #cccccc;
        --menu-border: #cccccc;
        --menu-shadow: #cccccc;
        --button-bg: #222222;
        --button-fg: #cccccc;
        --button-border: #222222;
        --button-shadow: transparent;
        --button-hover-bg: #333333;
        --button-hover-fg: #ffffff;
        --button-hover-border: #ffffff;
        --button-hover-shadow: #cccccc;
        --button-active-bg: #666666;
        --button-active-fg: #ffffff;
        --button-active-border: #ffffff;
        --button-active-shadow: #ffffff;
        --menu-button-active-section-bg: #666666;
        --menu-button-active-section-fg: #ffffff;
        --menu-button-active-section-border: #ffffff;
        --menu-button-active-section-shadow: transparent;
    }

    .inversible {
        --inverse: 100%;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --shadow: 0px 0px 5px;
    }

    .menu-button {
        display: flex; justify-content: center;
    }

    .menu-button span {
        display: none;
    }

    .content {
        margin-top: 72px;
    }

    .section {
        padding: 16px;
        width: calc(100% - 32px);
    }
}

@media screen and (max-width: 640px) {
    .flex-row {
        align-items: stretch;
        flex-direction: column;
        gap: 8px 0px;
    }
}