@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf');
}

@font-face {
    font-family: 'Montserrat Italic';
    src: url('/fonts/MontserratItalic.ttf');
}

:root {
    --page-bg: #0f0f0f;
    --page-fg: #ffffff;
    --link-fg: #cccccc;
    --menu-bg: #181818;
    --menu-fg: #cccccc;
    --menu-border: #cccccc;
    --menu-shadow: #cccccc;
    --button-bg: #181818;
    --button-fg: #cccccc;
    --button-border: #181818;
    --button-shadow: transparent;
    --button-hover-bg: #333333;
    --button-hover-fg: #ffffff;
    --button-hover-border: #ffffff;
    --button-hover-shadow: transparent;
    --button-active-bg: #666666;
    --button-active-fg: #ffffff;
    --button-active-border: #ffffff;
    --button-active-shadow: transparent;
}

:root {
    --padding: 8px 24px;
    --padding-left-right: 24px;
    --padding-top-bottom: 8px;
    --button-padding: 8px 24px;
    --flex-gap: 8px 0px;
    --content-width: 800px;
    --max-image-width: 720px;
    --avatar-image-width: 180px;
    --font: 'Montserrat', system-ui, sans-serif;
    --font-italic: 'Montserrat Italic', system-ui, sans-serif;
    --font-size: 16px;
    --button-text-size: 16px;
    --button-image-size: 24px;
    --border: 1px solid;
    --border-radius: 10px;
    --shadow: 0px 0px 20px;
}

* {
    transition: 0.2s ease;
	scroll-behavior: smooth;
    scrollbar-width: var(--scrollbar-width);
	scrollbar-color: var(--page-fg) var(--page-bg);
    outline: none;
}

*::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

*::-webkit-scrollbar-track {
	background: var(--page-bg);
}

*::-webkit-scrollbar-thumb {
	background: var(--page-fg);
}

::selection {
	background: var(--page-fg); color: var(--page-bg);
}

html, body {
    background-color: var(--page-bg); color: var(--page-fg);
}

body {
    margin: 0px auto; padding: 0px 0px;
	font-family: var(--font); font-size: var(--font-size);
    line-height: 2em;
    overflow-y: scroll;
}

body, .menu {
    max-width: var(--content-width);
}

h1, h2, h3, h4, h5, h6, b, .button {
	font-weight: 600;
}

a, summary {
	color: var(--link-fg);
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: var(--page-fg);
}

summary {
    cursor: pointer;
}

summary::marker {
    content: '';
}

abbr {
    cursor: help;
}

i {
    font-family: var(--font-italic); font-style: normal;
}

img {
    width: 100%;
    max-width: var(--max-image-width);
}

hr {
    margin: 32px 0px;
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--page-fg), transparent);
}

.center {
	display: flex; flex-direction: column; justify-content: center; align-items: center;
    gap: var(--flex-gap);
}

.text-center {
	text-align: center;
}

.flex-column {
    display: flex; flex-direction: column; align-items: stretch;
    gap: 16px 0px;
}

.flex-row {
    display: flex; flex-direction: row; align-items: stretch;
    gap: 0px 16px;
}

.content {
    max-width: var(--content-width);
    height: max-content;
}

.section {
    margin-top: 128px;
    scroll-margin-top: 128px;
}

.menu, .button, .gallery-image, .avatar-image, details {
    border-radius: var(--border-radius);
}

.menu {
    z-index: 1;
    position: fixed; top: 16px;
    margin: 0px auto; padding: 8px 8px;
    display: flex; justify-content: center; align-items: center;
    gap: 0px 8px;
    background-color: var(--menu-bg); color: var(--menu-fg);
    border: var(--border) var(--menu-border);
    box-shadow: var(--shadow) var(--menu-shadow);
}

.button, .menu-button {
    user-select: none;
    text-decoration: none;
    display: flex; justify-content: center; align-items: center;
    gap: 0px 8px;
}

.button, .menu-button, details {
    cursor: pointer;
    padding: var(--button-padding);
    background-color: var(--button-bg); color: var(--button-fg);
    border: var(--border) var(--button-border);
    box-shadow: var(--shadow) var(--button-shadow);
}

.button:hover, .menu-button:hover, details:hover {
    background-color: var(--button-hover-bg); color: var(--button-hover-fg);
    border: var(--border) var(--button-hover-border);
    box-shadow: var(--shadow) var(--button-hover-shadow);
}

.button:active, .menu-button:active, details:active {
    background-color: var(--button-active-bg); color: var(--button-active-fg);
    border: var(--border) var(--button-active-border);
    box-shadow: var(--shadow) var(--button-active-shadow);
}

details summary {
    color: var(--button-fg);
}

details:hover summary {
    color: var(--button-hover-fg);
}

details:active summary {
    color: var(--button-active-fg);
}

.button {
    font-size: var(--button-text-size);
}

.button img, .icon {
    width: var(--button-image-size);
}

.gallery-box, .team-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 1.5em;
}

.gallery-box .image, .team-box .image {
    max-width: calc(var(--content-width) / 4);
    margin: 32px;
}

.gallery-box .image figcaption, .team-box .image figcaption {
    margin-top: 16px;
}

.gallery-box .gallery-image, .team-box .avatar-image {
    border: var(--border) var(--link-fg);
    box-shadow: var(--shadow) var(--link-fg);
}

.gallery-box .gallery-image:hover, .gallery-box .gallery-image:focus, .team-box avatar-image:hover, .team-box avatar-image:focus {
    border: var(--border) var(--page-fg);
    box-shadow: var(--shadow) var(--page-fg);
}

.inline {
    display: inline;
}

.inversed {
    filter: invert(1);
}

#logo {
    width: 256px;
}

#logo:hover {
    transform: rotate(360deg);
}

#logo, #logo:hover {
    transition: 2s ease;
}

#logo-container {
    justify-content: center;
    align-items: center;
    gap: 0px 32px;
}

@media screen and (max-width: 800px) {
    .menu-button {
        display: flex; justify-content: center;
    }

    .menu-button span {
        display: none;
    }

    .content {
        margin-top: 96px;
    }

    .section {
        scroll-margin-top: 96px;
        padding: 32px;
    }
}

@media screen and (max-width: 640px) {
    .flex-row {
        align-items: stretch;
        flex-direction: column;
        gap: 8px 0px;
    }
    
    .contact-box {
        flex-direction: row;
        gap: 0px 8px;
    }
    
    #logo-container {
        gap: 32px 0px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    :root {
        --button-padding: 8px 16px;
    }
    
    .menu-button img {
        width: 24px;
    }
}